* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}

.link {
  display: block;
  text-align: center;
  color: #777;
  text-decoration: none;
  padding: 10px;
}

.event_card {
  position: relative;
  display: block;
  width: 800px;
  height: auto;
  margin: 30px auto;
  overflow: show;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
}
.event_card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}
.event_card .info_section {
  position: relative;
  width: 100%;
  height: auto;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
.event_card .info_section1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
.event_card .info_section .event_header {
  position: relative;
  padding: 25px;
  height: 40%;
}
.event_card .info_section .event_header .dark h1 {
  color: black;
  font-weight: 400;
}
.event_card .info_section .event_header .light h1 {
  color: white;
  font-weight: 400;
}
.event_card .info_section .event_header .dark h4 {
  color: #555;
  font-weight: 400;
}
.event_card .info_section .event_header .light h4 {
  color: whitesmoke;
  font-weight: 400;
}


.event_card .info_section .event_header  .minutes .dark {
  display: inline-block;
  margin-top: 15px;
  color: #555;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.event_card .info_section .event_header  .minutes .light {
  display: inline-block;
  margin-top: 15px;
  color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.event_card .info_section .event_header .darktype  {
  display: inline-block;
  color: #8f8f8f;
  margin-left: 10px;
}
.event_card .info_section .event_header .lighttype  {
  display: inline-block;
  color: #cfcfcf;
  margin-left: 10px;
}

.event_card .info_section .event_header .locandina {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}
.event_card .info_section .event_desc {
  padding: 25px;
  height: 50%;
}
.event_card .info_section .event_desc .darktext{
  color: #545454;
}
.event_card .info_section .event_desc .lighttext{
  color: #cacaca;
}
.event_card .info_section .event_social {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}
.event_card .info_section .event_social ul {
  list-style: none;
  padding: 0;
}
.event_card .info_section .event_social ul li {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}
.event_card .info_section .event_social ul li:hover {
  transition: color 0.3s;
  color: rgba(0, 0, 0, 0.7);
}
.event_card .info_section .event_social ul li i {
  font-size: 19px;
  cursor: pointer;
}
.event_card .info_section1 .event_header {
  position: relative;
  padding: 25px;
  height: 40%;
}
.event_card .info_section1 .event_header h1 {
  color: black;
  font-weight: 400;
}
.event_card .info_section1 .event_header h4 {
  color: #555;
  font-weight: 400;
}
.event_card .info_section1 .event_header .minutes {
  display: inline-block;
  margin-top: 15px;
  color: #555;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.event_card .info_section1 .event_header .type {
  display: inline-block;
  color: #959595;
  margin-left: 10px;
}
.event_card .info_section1 .event_header .locandina {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}
.event_card .info_section1 .event_desc {
  padding: 25px;
  height: 50%;
}
.event_card .info_section1 .event_desc .darktext {
  color: #545454;
}

.fa-light {
  color: whitesmoke !important ;
}

.event_card .info_section1 .event_social {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}
.event_card .info_section1 .event_social ul {
  list-style: none;
  padding: 0;
}
.event_card .info_section1 .event_social ul li {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}
.event_card .info_section1 .event_social ul li:hover {
  transition: color 0.3s;
  color: rgba(0, 0, 0, 0.7);
}
.event_card .info_section1 .event_social ul li i {
  font-size: 19px;
  cursor: pointer;
}
.event_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}

@media screen and (min-width: 768px) {
  .event_header {
    width: 65%;
  }

  .event_desc {
    width: 50%;
  }

  .tech {
    background: linear-gradient(to right, #FBC02D 50%, transparent 100%);
  }

  .art {
    background: linear-gradient(to right, #EEEEEE 50%, transparent 100%);
  }
  .cultural {
    background: linear-gradient(to right, #212121 50%, transparent 100%);
  }
  .tiktok{
    background: linear-gradient(to right, #f7004d 50%, transparent 100%);
  }
  .pubg{
    background: linear-gradient(to right, rgb(240, 196, 75) 50%, transparent 100%);
  }
  .photography{
    background: linear-gradient(to right, #263238 50%, transparent 100%);
  }
  .stepandsyncro{
    background: linear-gradient(to right, #455a64 50%, transparent 100%);
  }
  .duetsong{
    background: linear-gradient(to right, #009688 50%, transparent 100%);
  }
  .impedanzo{
    background: linear-gradient(to right, #0b443d 50%, transparent 100%);
  }
  .gsoka{
    background: linear-gradient(to right, #f5f5f5 50%, transparent 100%);
  }
  .gnosis {
    background: linear-gradient(to right, #f5f5f5 50%, transparent 100%);
  }
  .traceback{
    background: linear-gradient(to right, #131426 50%, transparent 100%);
  }
  .spotweb{
    background: linear-gradient(to right, #26A69A 50%, transparent 100%);
  }
  .vos{
    background: linear-gradient(to right, #f5f5f5 50%, transparent 100%);
  }
  .blur_back {
    width: 100%;
    height: 100%;
    object-fit: contain ;
    background-position: -100% 10% !important;
  }
}
@media screen and (max-width: 768px) {

  .mobilemore {
    margin-top: 50% !important;
  }

  .menu-item {
  font-size: 10px;
  }
  .event_card {
    width: 95%;
    margin: 70px auto;
    margin-bottom: 100%;
    margin-top: 40%;
    min-height: 350px;
    height: auto;
  }

  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .event_header {
    width: 100%;
    margin-top: 85px;
    padding-top: 50% !important;
  }

  .event_desc {
    width: 100%;
  }

  .tech {
    background: linear-gradient(to top, #FBC02D 50%, transparent 100%);
    display: inline-grid;
  }
  .art {
    background: linear-gradient(to top, #EEEEEE 50%, transparent 100%);
    display: inline-grid;
  }
  .cultural {
    background: linear-gradient(to top, #212121 50%, transparent 100%);
    display: inline-grid;
  }
  .tiktok {
    background: linear-gradient(to top, #f7004d 50%, transparent 100%);
    display: inline-grid;
  }
  .pubg {
    background: linear-gradient(to top, #E8B629 50%, transparent 100%);
    display: inline-grid;
  }
  .photography {
    background: linear-gradient(to top, #263238 50%, transparent 100%);
    display: inline-grid;
  }
  .stepandsyncro {
    background: linear-gradient(to top, #455a64 50%, transparent 100%);
    display: inline-grid;
  }
  .duetsong {
    background: linear-gradient(to top, #009688 50%, transparent 100%);
    display: inline-grid;
  }
  .impedanzo {
    background: linear-gradient(to top, #0b443d 50%, transparent 100%);
    display: inline-grid;
  }
  .gsoka {
    background: linear-gradient(to top, #f5f5f5 50%, transparent 100%);
    display: inline-grid;
  }
  .gnosis {
    background: linear-gradient(to top, #f5f5f5 50%, transparent 100%);
    display: inline-grid;
  }
  .traceback {
    background: linear-gradient(to top, #131426 50%, transparent 100%);
    display: inline-grid;
  }
  .spotweb {
    background: linear-gradient(to top, #9C27B0 50%, transparent 100%);
    display: inline-grid;
  }
  .vos {
    background: linear-gradient(to top, #f5f5f5 50%, transparent 100%);
    display: inline-grid;
  }

  
}
.robowar {
   background: url("../images/robowar.jpg"); 
}
.doodle {
   background: url("../images/doodle.jpg"); 
}
.stepup {
  background: url("../images/stepup.jpeg"); 
}
.tiktokimage {
  background: url("../images/tiktok.jpeg"); 
}
.pubgimage {
  background: url("../images/pubg.jpg"); 
}
.photographyimage {
  background: url("../images/photography.jpg"); 
}
.stepandsyncroimage {
  background: url("../images/stepandsyncro.jpg"); 
}
.duetsongimage {
  background: url("../images/duetsong.jpg"); 
}
.gsokaimage {
  background: url("../images/gsoka.png"); 
}
.impedanzoimage {
  background: url("../images/impedanzo.jpg");
}
.gnosisimage {
  background: url("../images/gnosis.jpg"); 
}
.tracebackimage {
  background: url("../images/traceback.jpg");
}
.spotwebimage {
  background: url("../images/spotweb.jpg"); 
}
.vosimage {
  background: url("../images/vos.jpg"); 
}

