body {
  margin: 0px;
  width: Calc(100vw-64px);
  background-color: #171717;
  font-family: 'Electrolize';
  color: #8D57D8;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../assets/img/event1-background.jpg') no-repeat center center fixed;
}
.section {
  background-color: #171717;
  padding: 64px;
  margin: 16px;
  width: 80vw;
  box-shadow: #8D57D8 0px 0px 4px 2px;
  border-radius: 4px;
}
@media screen and (max-width: 1000px) {
  .section {
    padding: 16px;
  }
}
@media screen and (max-width: 600px) {
  .section {
    padding: 16px;
  }
}